= simple_form_for(@organisation) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address1
    = f.input :address2
    = f.input :address3
    = f.input :town
    = f.input :postcode
  .form-actions
    = f.button :submit
