%h1 Organisations

- unless @organisations.any?
  %p You currently have no organisations to contribute to. <br/> Ask a colleague to invite you to an existing organisation or #{link_to "create a new one", new_organisation_path}.
%p
- @organisations.each do |organisation|
  .col-sm-6.col-md-4.organisation-item
    .thumbnail
      .caption
        %p= address(organisation)
        %p
          = link_to "View", organisation_lessons_path(organisation), class: 'btn btn-mini btn-primary'
          = link_to "Manage", organisation, class: 'btn btn-mini btn-primary' if current_user.admin_for(organisation)

.clearfix
= link_to 'New Organisation', new_organisation_path, class: 'btn btn-primary'
