%p#notice= notice
- model_class = Teacher
.page-header
  %h1= @organisation.name
%h3=t '.title', :default => model_class.model_name.human.pluralize.titleize
= link_to "CSV", organisation_students_path(@organisation, format: "csv")
= form_tag organisation_edit_multiple_students_path(@organisation), method: :put do
  .table-responsive
    %table.table.data
      %thead
        %tr
          %th
            = check_box_tag :select_all, true, false
          %th= model_class.human_attribute_name(:name)
          %th Admin
      %tbody
        - @organisation.teachers.each do |teacher|
          %tr
            %td
              = check_box_tag "student_ids[]", teacher.id, false
            %td= link_to (teacher.name || teacher.user.email), organisation_student_path(@organisation, teacher)
            %td
              = display_tick(teacher.admin?)
  = submit_tag "Edit Checked", class: 'btn btn-primary'

%h3 Invite a teacher
=render 'shared/new_user'

