= form_for [@organisation, @lesson] do |f|
  - if @lesson.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lesson.errors.count, "error")} prohibited this lesson from being saved:"
      %ul
        - @lesson.errors.full_messages.each do |msg|
          %li= msg

  .field.bfh-datepicker{ data: { name: 'lesson[date]', date: @lesson.date_us, format: 'd-m-y'} }
  .field.bfh-timepicker{ data: { name: 'lesson[time]', time: @lesson.time_to_s, format: 'H-M'} }
  .field
    = f.label :teacher_id
    = f.collection_select(:teacher_id, @organisation.teachers, :id, :name)
  .field
    = f.label :klass
    = f.collection_select(:klass_id, @organisation,klasses, :id, :name)
  .field
    = f.label :room
    = f.text_field :room
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
