%h1 Listing lessons

%table
  %tr
    %th Date time
    %th Teacher
    %th Klass
    %th Room
    %th
    %th
    %th

  - @lessons.each do |lesson|
    %tr
      %td= lesson.date_time
      %td= lesson.teacher
      %td= lesson.klass
      %td= lesson.room
      %td= link_to 'Show', lesson
      %td= link_to 'Edit', edit_lesson_path(lesson)
      %td= link_to 'Destroy', lesson, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lesson', new_lesson_path
