- model_class = Lesson
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
  = link_to "CSV", organisation_lessons_path(@organisation, format: "csv")

%ul.nav.nav-tabs#Tabs
  %li.active
    %a{ href: "#upcoming", 'data-toggle' => "tab" } Upcoming
  %li
    %a{ href: "#past", 'data-toggle' => "tab" } Past

/  Tab panes 
.tab-content
  / Home tab
  .tab-pane.fade.in.active#upcoming
    = render partial: 'shared/lesson_table', locals: {lessons: @upcoming}


  .tab-pane.fade#past
    = render partial: 'shared/lesson_table', locals: {lessons: @past, title: 'data_past_lessons'}

= link_to t('.new', :default => t("helpers.links.new")), new_organisation_lesson_path, :class => 'btn btn-primary'

= render partial: 'shared/csv_form', locals: { title: "Lessons", path: import_organisation_lessons_path(@organisation) }