%p#notice= notice

%p
  %b Date time:
  = @lesson.date_time
%p
  %b Teacher:
  = @lesson.teacher
%p
  %b Klass:
  = @lesson.klass
%p
  %b Room:
  = @lesson.room

= link_to 'Edit', edit_lesson_path(@lesson)
\|
= link_to 'Back', lessons_path
