= form_for @klass, :html => { :class => 'form-horizontal span5' } do |f|
  - if @klass.errors.any?
    .alert.alert-error
      %h5= "#{pluralize(@klass.errors.count, "error")} prohibited this klass from being saved:"
      %ul
        - @klass.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :teacher_id, :class => 'control-label'
    .controls
      = f.collection_select(:teacher_id, Teacher.all, :id, :name)
  .control-group
    = f.label :attendance, :class => 'control-label'
    .input-group.controls
      = f.text_field :attendance, :class => 'number_field form-control'
      %span.input-group-addon %
  .form-actions
    = f.submit 'Continue >', :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), klasses_path, :class => 'btn'
