- model_class = Klass
.page-header
  %h1=t '.title', :default => 'class'.pluralize.titleize
%table.table.data
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:teacher_id)
      %th= 'Attendance required'
      %th= 'Overall Attendance'
      %th= model_class.human_attribute_name(:lessons)
      %th= model_class.human_attribute_name(:students)
  %tbody
    - @klasses.each do |klass|
      %tr
        %td= link_to klass.name, organisation_klass_path(@organisation, klass)
        %td= klass.teacher.name
        %td #{klass.attendance}%
        %td= klass.overall_attendance
        %td
          %span.badge= klass.lessons.count
        %td
          %span.badge= klass.students.count

= link_to 'Create a class', new_organisation_klass_path(@organisation), :class => 'btn btn-primary'
